
$color-black:           #000000 !default;
$color-white:           #ffffff !default;

$color-pink:            #ff24d5 !default;
$color-cyan:            #24ffff !default;

// base
$global-background-color: $color-white;

// typographie
$headline-default-color:  $color-cyan;
$text-default-color:      $color-pink;
